# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IntelliJ Ultimate specific #
.idea/

# Binaries #
out/

# iml files #
*.iml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Form files
*.form

# SQL Model files
*.mwb.*
*.mwb